.label-name {
  font-weight: 500;
  padding: 0 5px;
}
.num-col {
  text-align: right;
  padding-right: 15px;
  width: 30px;
}
.pagination-wrap {
  .pagination-bar {
    .pagination {
      justify-content: center;
    }
  }
}