<div class="pagenation-wrap">
    <input type="text" [(ngModel)]="searchText" #searchField placeholder="Serach any fields" />
  <table class="w-100">
    <thead>
      <tr>
        <th class="num-col">ID</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Nationality</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pageOfItems |
        customFilter : {name: searchText, phoneno:searchText,  email: searchText,  gender: searchText,  nationality: searchText};">
        <td class="num-col">{{item.id}})</td>
        <td class="label-name">{{item.name}}</td>
        <td class="label-name">{{item.phoneno}}</td>
        <td class="label-name">{{item.email}}</td>
        <td class="label-name">{{item.gender}}</td>
        <td class="label-name">{{item.nationality}}</td>
      </tr>
    </tbody>
  </table>
  <jw-pagination [items]="items" (changePage)="onChangePage($event)" class="align-item-center"></jw-pagination>
</div>
