<div class="sidebar-wrapper" (click)="stopPropagation($event)" [class.active]="isMenuOpen">
  <a href="javascript:;" class="menubar-icon" (click)="menuStatus($event)"></a>
  <ul>
    <li><a routerLink="home" #homeClick (click)="menuStatus($event)">Home </a></li>
    <li><a routerLink="DirectivesType" (click)="menuStatus($event)">Types of Directives</a></li>
    <li><a routerLink="ExchangeData" (click)="menuStatus($event)">Exchange Data (Input & Output) </a></li>
    <li><a routerLink="DataBinding" (click)="menuStatus($event)">Data Binding Types</a></li>
    <li><a routerLink="PipeTransformData" (click)="menuStatus($event)">Pipe Transform Data</a></li>
    <li><a routerLink="PipeFilter" (click)="menuStatus($event)">Custom Filter </a></li>
    <li><a routerLink="ngPagination" (click)="menuStatus($event)">Angular Pagination </a></li>
    <li><a routerLink="AngularFetchAPI" (click)="menuStatus($event)">Angular Fetch API Pagination </a></li>
    <li><a routerLink="AddRemoveItems" (click)="menuStatus($event)">Add Remove Items</a></li>
    <li><a routerLink="FormValidation" (click)="menuStatus($event)">Form Validation</a></li>
    <!-- <li><a routerLink="about" (click)="menuStatus($event)">About Link</a></li>
    <li><a routerLink="projects" (click)="menuStatus($event)">Project List</a></li>
    <li><a routerLink="directivesNgSwitch" (click)="menuStatus($event)">Directives ngSwitch</a></li>
    <li><a routerLink="TemplateDrivenForm" (click)="menuStatus($event)">Template Driven Form</a></li> -->
  </ul>
</div>