@import "./theme/bootstrap.min.css";
@import "./theme/font-icons.css";

.main-wrapper {
  height: 100%;
  width: 100%;
  &:before {
    background-color: rgba(0,0,0,0.65);
    content: "";
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.512345s;
    width: 0%;
    z-index: -2;
  }
  &.sidebar-open:before {
    opacity: 1;
    width: 100%;
    z-index: 2;
  }
}